[2018-06-25 02:01] cliftonmcintosh opened #1 "Remove all old data"
In order to build the federal instance of NepalMap, we should remove all of the data, views and supporting code for the old data sets. This includes:

## General Guidelines
SQL files for data
table definitions
View definitions
Profile sections (see the profile definitions in `nepalmap_app/wazimap_np/`)
Geographic data files

## Specifics
Here are some things that need to be removed:

- all files i

[2018-06-25 02:10] cliftonmcintosh opened #2 "Create data for the `wazimap_geography` table"
Create the SQL data for the geographic units for the new federal structure.

At each level, the `geo_code` should be unique. For example, for local bodies, there can only be one local body in the entire country with a `geo_code` of "1".
Except for top-level of "Nepal", each record should include its parent's geo_code as well as the geographic level of its parent.

Please see the [current data](htt

[2018-06-25 02:14] cliftonmcintosh opened #3 "Import geojson and topojson files with the correct metadata for provinces"
Please see the readme at https://github.com/Code4Nepal/nepalmap_app/tree/master/wazimap_np/static/geo for a description of the metadata needed.

Geojson and topojson files for updating can be downloaded from http://localboundries.oknp.org/

This script was used with the old structure to add to each geojson file the correct metadata: https://github.com/Code4Nepal/maptools/blob/master/geo/set_vdc_ge

[2018-06-25 02:16] cliftonmcintosh opened #4 "Import geojson and topojson files with the correct metadata for districts"
Please see the readme at https://github.com/Code4Nepal/nepalmap_federal/tree/master/wazimap_np/static/geo for a description of the metadata needed.

Geojson and topojson files for updating can be downloaded from http://localboundries.oknp.org/

This script was used with the old structure to add to each geojson file the correct metadata: https://github.com/Code4Nepal/maptools/blob/master/geo/set_vd

[2018-06-25 02:19] cliftonmcintosh opened #5 "Import geojson and topojson files with the correct metadata for local government bodies"
Please see the readme at https://github.com/Code4Nepal/nepalmap_federal/tree/master/wazimap_np/static/geo for a description of the metadata needed.

Geojson and topojson files for updating can be downloaded from http://localboundries.oknp.org/

This script was used with the old structure to add to each geojson file the correct metadata: https://github.com/Code4Nepal/maptools/blob/master/geo/set_vd

[2018-06-25 02:25] cliftonmcintosh opened #6 "Update settings.py to include the new federal hierarchy"
settings.py defines the relationship between entities at different geographic levels. Update it to include definitions that fit the new federal structure.

See here for the old definitions: https://github.com/Code4Nepal/nepalmap_app/blob/dev/wazimap_np/settings.py#L21-L40

Update settings.py so that it includes the new definitions.

[2018-06-25 02:30] cliftonmcintosh opened #7 "Add a data set that includes total population figures"
The wazimap framework will only display data when there is a data set that includes total population figures. Find a data set that has full population figures for each of the bodies at each of the new levels for federal Nepal. Data at higher levels can be derived from data at the local level. Create the appropriate table for these data and add them to the profiles and to the view templates.

See h

[2018-07-11 01:55] cliftonmcintosh commented on #7
@ravinepal

Do we have a data set that includes total population at the local level for the new local bodies?

[2018-07-11 23:29] ravinepal commented on #7
thanks, @cliftonmcintosh.

yes, here are CBS files:

1. [Province data](http://cbs.gov.np/image/data/2017/Population_Province_Level.pdf)
2. [Districts](http://cbs.gov.np/image/data/2017/Population_District_Level.pdf)
3. [ GauPalikas/Municipalities and Wards](http://cbs.gov.np/image/data/2017/Population_Ward_Level_753_Local_Unit.pdf)

Let me see if @crackjack has suggestions or know how to efficien

[2018-07-12 00:43] openrijal commented on #7
the links you pointed to are PDFs and the website that is Nepali is build on Flash or something similar, the links do not change

if the data for only Province Level is enough, we can use the site, else need to figure out a way to grab data from the PDF.

I'm looking into it, will give some answer in a couple of hours.

[2018-07-12 01:03] nikeshbalami commented on #7
Scrapping from PDF will be easy because its already in English, I have already scrapped Districts and Provinces data.

We need to work to scrap Local Units: http://cbs.gov.np/sectoral_statistics/population/Population%20of%20753%20Local%20Units

[2018-07-12 01:14] cliftonmcintosh commented on #7
If we want to display local level information, then we will be required to have local level population figures. A basic rule in the wazimap framework is that we must have at least one data set that includes total population for the lowest geographic/political unit that we wish to display.

Also, the figures for higher level can be derived from the lowest unit since we can just add together the val

[2018-07-12 01:17] ravinepal commented on #7
thanks, @cliftonmcintosh. I'm scraping data. Here's province level population and household data - I submitted the PR to data repo and requested you to review:

https://github.com/Code4Nepal/data/pull/13 (FYI @crackjack)

[2018-07-12 01:18] ravinepal commented on #7
@nikeshbalami - can you submit pull request with district level data here: https://github.com/Code4Nepal/data/

I'll try to scrape local level data.

@cliftonmcintosh - then we will have data for all levels.

[2018-07-12 01:35] cliftonmcintosh commented on #7
If we have the local level, we don't need data from any other level because we can just add up the local units to get the district level and add up that to get provinces, etc. That's probably preferable because then we know the data are consistent.

[2018-07-12 02:37] nikeshbalami commented on #7
I started scrapping local levels, need a couple of nights to complete the whole.

[2018-07-12 03:32] openrijal commented on #7
what tool are you using? @nikeshbalami

would it be faster if all of us run the tool and use our computing time and process different levels?

[2018-07-12 04:02] nikeshbalami commented on #7
I use Tabula for the basic PDF scrapping @crackjack

Here I have submitted a pull request of 3 districts: https://github.com/Code4Nepal/data/pull/14

Have created the separate folder for Federal Datasets>Polutation and HouseHold>District Name>Local Units.., This pattern will help us for the easy aggregation to find out Districts and Province level data.

@ravinepal I think you need to remove the c

[2018-07-12 13:08] cliftonmcintosh commented on #7
The data that @nikeshbalami is collecting at https://github.com/nikeshbalami/data/tree/f398ee21ec2bd03d9047f68bb519dd0faa45a4e1/Federal%20Data/753%20Local%20Unit%20Population%20and%20HouseHold are exactly the sort of thing we need. From that we can derive population for all levels above the local level. I would suggest that people concentrate on completing that data set. If team members produce fi

[2018-07-12 15:17] nikeshbalami commented on #7
Had completed scrapping 9 districts: https://github.com/nikeshbalami/data/tree/master/Federal%20Data/753%20Local%20Unit%20Population%20and%20HouseHold

[2018-07-12 22:20] ravinepal commented on #1
It'd be great for someone on the team to lead on this issue.

@Beegrekokto, @soneeka, @sunitagajurel, @crackjack, @theonlyNischal   - pls let us know if one of you are interested.

[2018-07-12 23:46] openrijal commented on #1
I could take this one, but need more information on what exactly needs to be removed, may be a little walk-through of the existing app would help. cc: @ravinepal @cliftonmcintosh

[2018-07-13 00:46] cliftonmcintosh commented on #1
@crackjack

The description has been updated.

[2018-07-13 01:05] openrijal commented on #1
what about the sqls in simpletables folder? @cliftonmcintosh

[2018-07-13 01:14] cliftonmcintosh commented on #1
Yes, those, too, @crackjack. Thanks for catching that. I've updated the description.

[2018-07-13 01:15] openrijal commented on #1
cannot remove `PROFILE_SECTIONS` in [profiles.py](https://github.com/Code4Nepal/nepalmap_federal/blob/dev/wazimap_np/profiles.py) without harming the usage in `get_census_profile()`, cannot keep them either because then the for loop is useless, I don't see much value around keeping the function there.

[2018-07-13 01:17] cliftonmcintosh commented on #1
@crackjack

That's fine. We can bring it back when we need it later.

[2018-07-13 01:18] openrijal commented on #1
do you mean remove `get_census_profile()` as well or just comment it out for now?

[2018-07-13 01:18] openrijal commented on #1
I feel like something like slack could leverage the communications here.

[2018-07-13 01:20] cliftonmcintosh commented on #1
At your discretion. And yes, Slack would be good. We do have a Slack. https://codefornepal.slack.com/

[2018-07-13 01:20] cliftonmcintosh commented on #1
I'm not sure how to get invited. Maybe @ravinepal can help with that.

[2018-07-13 01:29] openrijal commented on #1
Sent a PR.

[2018-07-13 01:31] openrijal commented on #1
sorry didn't realize that `nepalmap_app` and `nepalmap_federal` were two different repos.

I have to fork the `nepalmap_federal` repo and send a pull request there.

[2018-07-13 01:32] cliftonmcintosh commented on #1
correct, @crackjack

[2018-07-13 02:33] openrijal commented on #2
now that there is a PR which when merged the links to `.sql` files will become non-existent, may be we can link to the sqls in `nepalmap_app` project now @cliftonmcintosh

[2018-07-13 12:49] cliftonmcintosh commented on #2
@crackjack

description updated

[2018-07-13 23:38] openrijal commented on #2
how do we propose to proceed on this?

[2018-07-14 00:46] openrijal commented on #4
I'm assuming that the country.geojson and country.topojson files can be used from the old project, right?

[2018-07-14 00:50] openrijal commented on #6
Pull Request https://github.com/Code4Nepal/nepalmap_federal/pull/9

[2018-07-14 00:51] openrijal commented on #7
local levels are actually divided into 4 categories (Metropolitan, Sub-Metropolitan, Municipality, Rural Municipality)

To get the statistics for districts, these categories under them should be summed up
To get the statistics for provinces, the districts should be summed up
To get the statistics for country, the provinces should be summed up

[2018-07-15 14:32] openrijal commented on #2
now that we have geojson files with updated metadata, we should move forward to generate sql files from the geojson file, please see PR #9

[2018-07-15 16:01] cliftonmcintosh commented on #4
@crackjack

Yes, we should be able to re-use https://github.com/Code4Nepal/nepalmap_app/blob/dev/wazimap_np/static/geo/country.geojson and https://github.com/Code4Nepal/nepalmap_app/blob/dev/wazimap_np/static/geo/country.topojson

If the boundaries for districts have not changed, then we can re-use https://github.com/Code4Nepal/nepalmap_app/blob/dev/wazimap_np/static/geo/district.geojson and https

[2018-07-15 17:12] cliftonmcintosh opened #10 "Import geojson and topojson files with the correct metadata for the country"
We should be able to re-use the ones from https://github.com/Code4Nepal/nepalmap_app/tree/dev/wazimap_np/static/geo

[2018-07-15 17:26] openrijal commented on #4
I'm sure the district and district boundaries have changed because we had 75 districts before, but now after the provincial division we have 77 districts.

May be we can have the same `geoid`s by comparing the two geojson and matching the names to extract the `geoid`

[2018-07-15 17:29] cliftonmcintosh commented on #4
If the districts are different, then the old data cannot be used and there is no need to keep the same IDs

[2018-07-15 17:35] nikeshbalami commented on #5
As per the previous notification from the users, there are some boundaries error in the Geo and TopoJSON Local Levels file of http://localboundries.oknp.org so it would be great if we can use geo file available at the government website. Previously it was available here: http://ngiip.gov.np/data-center/admin-boundary

[2018-07-15 17:54] openrijal commented on #4
so whatever I sent is acceptable only if I just remove the oknp files and the scripts, right?

[2018-07-15 17:54] openrijal commented on #4
oh, yeah the uppercase names, I'll do that.

[2018-07-15 18:04] openrijal commented on #4
PR #9 updated

[2018-07-15 19:06] cliftonmcintosh commented on #3
Done in #9

[2018-07-15 19:08] cliftonmcintosh commented on #10
Covered in #9

[2018-07-15 19:08] cliftonmcintosh commented on #6
Covered in #9

[2018-07-15 20:22] openrijal commented on #10
what do we import? is it converted to sql?

[2018-07-18 12:13] #10 closed, assigned to nobody

[2018-07-18 12:13] #1 closed, assigned to openrijal

[2018-07-18 12:13] #4 closed, assigned to nobody

[2018-07-18 12:13] #3 closed, assigned to nobody

[2018-07-18 12:13] #5 closed, assigned to nobody

[2018-07-18 12:13] #6 closed, assigned to nobody

[2018-07-18 12:14] cliftonmcintosh commented on #2
The data from the PR https://github.com/Code4Nepal/maptools/pull/47 looks good to me and seems ready to be used for this issue.

[2018-07-18 12:23] cliftonmcintosh opened #11 "Present total population and population by gender"
Once the data for population has been integrated as part of #7 , present the total population with a breakdown by gender.

This includes:
- defining a table in the [`tables.py`](https://github.com/Code4Nepal/nepalmap_federal/blob/dev/wazimap_np/tables.py) file based on the table created for #7.
- creating a profile for demographics, like [the one in the pre-federal NepalMap](https://github.com/Cod

[2018-07-21 13:29] cliftonmcintosh commented on #2
@crackjack

Do you want to take the data from https://github.com/Code4Nepal/maptools/pull/47 and add use it for the geography table for this issue?

[2018-07-21 15:34] openrijal commented on #2
I'm sorry I was preoccupied by something. I'll create the SQL right away.

[2018-07-21 15:43] cliftonmcintosh commented on #2
No rush! I just wanted to check and see if you wanted someone else to take this step. Your contributions have been very valuable!

[2018-07-21 15:47] openrijal commented on #2
PR submitted https://github.com/Code4Nepal/nepalmap_federal/pull/12

[2018-07-21 15:49] openrijal commented on #2
There is a field called square kms in the table, I kept it as it is, but there was no data for it earlier, neither there is now

I can remove that field if it is not needed and update the pull request

[2018-07-24 23:15] ravinepal commented on #11
@Beegrekokto, @soneeka, @sunitagajurel,  @theonlyNischal - pls let us know if one of you are interested in leading on this issue? thank you.

[2018-08-29 22:11] cliftonmcintosh opened #13 "Update parent geo_codes for localities in districts 1-9"
The `parent_code` for a locality must match the `geo_code` for the district to which it belongs. However, the parent codes for localities that are in "dis-01" through "dis-09" are wrong. They incorrectly leave out the "0", incorrectly listing the parent code as "dis-1", etc.

See, for example, these lines: https://github.com/Code4Nepal/nepalmap_federal/blob/dev/sql/geography.sql#L164-L171

The par

[2018-09-05 00:54] ravinepal commented on #2
@cliftonmcintosh - i understand this is done. am closing the issue. apologies if i'm mistaken.

[2018-09-05 00:54] #2 closed, assigned to nobody

[2018-09-05 00:56] ravinepal commented on #7
I think this is done too, yeah?

[2018-09-07 11:13] cliftonmcintosh commented on #7
The data has not been imported into nepalmap_federal. It is now available in the data project here:
https://github.com/Code4Nepal/data/tree/master/Federal%20Data/753%20Local%20Unit%20Population%20and%20HouseHold.

It still needs to be transformed into a table in nepalmap_federal and added to a view. That can all be covered in #11.

[2018-09-08 03:18] ravinepal opened #15 "Make NepalMap discoverable on the web and Google Dataset Search"
@crackjack - let's discuss soon :)

[2018-09-08 23:14] ravinepal commented on #11
dear @Beegrekokto, @soneeka, @sunitagajurel, @theonlyNischal. i hope all is well. i know some of you had exams. i wanted to follow up to see if one of you are interested in leading on this issue?

[2018-09-09 17:06] cliftonmcintosh opened #16 "Correct the parent geo_codes for localities"
The parent geo_codes for localities appear to be incorrect in https://github.com/Code4Nepal/nepalmap_federal/blob/dev/sql/geography.sql

In spot-checking the data, I have found that the codes for the districts do not match the codes for the muncipalities that should be in each district.

I have based my comparison on personal knowledge of some districts as well as comparison of the data in https:/

[2018-09-09 17:08] #13 closed, assigned to nobody

[2018-09-09 17:51] cliftonmcintosh commented on #11
#16 needs to be addressed before this issue can be worked on.

[2018-09-09 17:52] #7 closed, assigned to nobody

[2018-09-09 18:50] ravinepal commented on #16
@cliftonmcintosh - thank you for flagging

@crackjack - may i request you to look into this when you have time

[2018-09-11 01:21] openrijal commented on #16
@ravinepal Sure.

@cliftonmcintosh the error was in the underlying geojson file, which result faulty csv and finally faulty sql

I have fixed the issue and created a pull request in both maptools and nepalmap_federal apps

[2018-10-07 10:02] amitness commented on #16
The pull request for this seems to be merged. Should we close this? @cliftonmcintosh

[2018-10-07 10:25] amitness commented on #11
@crackjack @cliftonmcintosh

The instructions to load data into postgres database seems to be out of date. There is no simpletables folder in sql directory. Can someone guide me with instructions to load the database dump?

![image](https://user-images.githubusercontent.com/8587189/46580808-98d11f80-ca4b-11e8-830b-d008075f4169.png)

[2018-10-07 10:42] amitness commented on #11
Also, I'm getting an error regarding WhiteNoise when running the app with `python manage.py runserver`. @crackjack Did you get any such error when setting up?

![image](https://user-images.githubusercontent.com/8587189/46580886-4264e080-ca4d-11e8-9145-70a93f21d175.png)

And had we used Python 2 or 3 for this app?

[2018-10-07 15:55] cliftonmcintosh commented on #11
@amitness

There are no simpletables yet. You should still be able to load the database tables. You can either run that command or skip it. Either way you should be able to proceed to the next steps successfully.

We could remove that from the README, but we would need to remember to add it back in as soon as we included any simpletables.

[2018-10-07 16:02] cliftonmcintosh commented on #11
@amitness

Wazimap is not compatible with python 3. I do not get that exception for WhiteNoise with `python manage.py runserver`, and the homepage loads for me. Of course, since we have no more data, that is as far as it goes!

![nepalmap_federal](https://user-images.githubusercontent.com/3824492/46583705-85f52580-ca20-11e8-8d59-d8719653923a.png)

[2018-10-07 17:34] cliftonmcintosh commented on #16
Yes, @amitness

Closing

[2018-10-07 17:34] #16 closed, assigned to nobody

[2018-10-07 18:09] amitness commented on #11
@cliftonmcintosh Thanks. The problem was due to wazimap dependancy on a library called whitenoise. When I installed from our requirements.txt, the latest version of whitenoise was installed which was incompatible with how wazimap was using that library. I was able to fix it by uninstalling it with `pip uninstall whitenoise` and downgrading to a lower version of the library `pip install whitenoise=

[2018-10-28 16:53] amitness commented on #11
@cliftonmcintosh @ravinepal I converted the data from local structures to the format we need for wazimap and when mapping the geography.sql codes to that, I have found some inconsitencies for some VDCs.

For example, for district 'Nawalpur', we have mappings to only 7 local levels in geography.sql

![image](https://user-images.githubusercontent.com/8587189/47618940-e566c280-db00-11e8-8b9c-5d7a8811

[2018-10-28 20:48] cliftonmcintosh commented on #11
Amit,

I am traveling and don’t have access to a computer to try to investigate
the answer to your questions. I may not be able to get to a response until
tomorrow, but I will do my best to respond promptly.
On Sun, Oct 28, 2018 at 12:53 PM Amit Chaudhary <notifications@github.com>
wrote:

[2018-10-29 02:28] openrijal commented on #11
@amitness the geography.sql was crrated out oglf geojson and topojson files from different sources, plus a few other sources.

Nawalpur is one of the districts which was renamed from "nawalparasi". There might be descripecancies, if you find a single source of Truth, we can use that.

[2018-10-29 14:45] amitness opened #19 "Fix data discrepancies in federal data"
During the conversion of federal data to the format needed for Wazimap in #11, there was variation in the geography.sql mapping and the data scraped at [federal-data](https://github.com/Code4Nepal/data/tree/master/Federal%20Data/753%20Local%20Unit%20Population%20and%20HouseHold).

Creating this separate issue to track that.

[2018-10-29 16:51] amitness commented on #11
@cliftonmcintosh It's working now. I've skipped the local levels with discrepencies for now. We can discuss and solve it in #19. Please review the PR.

![image](https://user-images.githubusercontent.com/8587189/47664614-86b84c00-dbc7-11e8-90af-7bbc5305503d.png)

I also had found a new problem. The URL pattern used by Wazimap to detect the geocode from the URL was like this:
[code]

Here vdc-1425 w

[2018-10-29 17:04] amitness commented on #11
@crackjack Can you help me out with this?

[code]

This is the regex I replaced the existing Wazimap URL with. With this regex, it matches province, district and local levels.
[code]

But, the below URL is not matched, since geo_level is 'country' and geo_code turns out to be 'NP-nepal' instead of 'NP' that we need.
[code]

This is the original URL pattern that was present in Wazimap and it's hard

[2018-10-30 01:05] cliftonmcintosh commented on #11
Would it be better to have us remove the dash in all of the geo-codes, so
that they become things like "loc4010" and "dis28"? Or even use just the
numeric part, so that they become "4010" and "28"? What would the effort be
in making one of those changes?

On Mon, Oct 29, 2018 at 12:08 PM Amit Chaudhary <notifications@github.com>
wrote:

[2018-10-30 01:25] amitness commented on #11
@cliftonmcintosh Previously, I tried removing the dash in the geocodes. The URLs worked but the map for that region failed to load. So I had to revert that. I think it's because the geocodes in geojson was still the old one. I'll try renaming both and see if it fixes the problem.

[2018-10-30 01:39] cliftonmcintosh commented on #11
Yes, they have to match the codes in the geo files, so they would need to be modified in those as well

[2018-11-03 11:41] cliftonmcintosh commented on #19
These are all of the locations that appear in the geography data but do not appear in the population data. There are two types of localities that are problematic:

1. municipalities and one district
2. parks and reserves

The parks and reserves could posslby be filled in in the population data with zero populations. The missing district and muncipalities cannot be filled in that way, though.

Thes

[2018-11-03 18:35] cliftonmcintosh opened #22 "Correct the names for provinces that have adopted a name rather than a number"
Our data currently uses province numbers. However, some provinces have adopted names instead. We should update our wazimap_geography SQL data and geo data to reflect those names.

https://en.wikipedia.org/wiki/Provinces_of_Nepal

[2018-11-03 19:01] cliftonmcintosh commented on #19
I believe these are some of the mappings for missing localities:
-  "Janki" in Banke district is "Janaki" in the federal population data: https://github.com/Code4Nepal/data/blob/master/Federal%20Data/753%20Local%20Unit%20Population%20and%20HouseHold/PRADESH%205/Banke/Janaki%20Gaunpalika.csv
- "Tripura Sundari" in Dhadhing district is "Tripurasundari Gaunpalika" in the federal population data: http

[2018-11-03 19:05] cliftonmcintosh opened #23 "Determine what to do about population data for wildlife and hunting reserves and national parks"
Our geographic data includes hunting reserves, wildlife reserves and national parks, but we have no population data for those areas. Where do we get population data for them?

[Population data](https://github.com/Code4Nepal/data/tree/master/Federal%20Data/753%20Local%20Unit%20Population%20and%20HouseHold)

**Parks and reserves without any population data**

|                    Park or Reserve

[2018-11-03 19:06] cliftonmcintosh commented on #19
I have created #23 to track what to do about parks and reserves.

[2018-11-03 22:22] ravinepal commented on #23
thanks @cliftonmcintosh. if it's fine with you and team, i'd recommend using "0" if you can't use "N/A".

would that work?

I don't believe gov has made population data publicly available for these boundaries. I can check with contacts but for the interim I would recommend moving ahead with above suggestions unless there is strong alternative preference.

[2018-11-03 22:32] ravinepal commented on #22
Just a thought to consider: given 4 provinces are waiting to come up with their names, for consistency purposes I'd recommend using province numbers now.  Also my hesitation is that some provinces might change their names in the near future -- so perhaps useful to wait until all provinces have names.

[2018-11-05 01:40] cliftonmcintosh commented on #23
@ravinepal Thank you. "N/A" is not an option. The framework requires a number for each data point.

[2018-11-09 12:41] cliftonmcintosh commented on #19
@amitness

Do you have scripts available that can be shared (and used) for updating the data for the discrepancies? We still have some localities which are problematic, but I was considering trying to tackle the ones I identified last weekend. If you have scripts, would you be willing to commit them to the maptools project?

[2018-11-12 16:04] amitness commented on #19
@cliftonmcintosh I have the script but it was done in Jupyter notebook so the code is vey rough. I've structered it into separate groups and added comments. It's present in my fork here: https://github.com/amitness/maptools/tree/dev/federal/analysis

To run,
`jupyter notebook federal-data.ipynb`

Assumes that `pandas` and `jupyter` are installed.
`pip install pandas jupyter`

[2018-11-28 00:52] ravinepal commented on #23
Thanks, @cliftonmcintosh. Let's put "0" then.

[2018-11-28 00:52] #23 closed, assigned to ravinepal

[2018-11-28 00:55] ravinepal commented on #11
hi @amitness - just checking in to see how we can help here. we have received interests from new volunteers and  i can request them to help.

[2018-11-28 03:44] cliftonmcintosh commented on #11
@ravinepal

The dashes in the geocodes has been corrected by https://github.com/Code4Nepal/nepalmap_federal/pull/21.

From what I can tell, the most pressing issue is the data discrepancies described in #19. Those must be resolved in order for us to be able to present the basic population data.

[2018-11-28 13:48] cliftonmcintosh opened #27 "Discussion: are there data sets in the pre-federal NepalMap that can be migrated to the federal NepalMap"
This issue is meant to serve as a public discussion about if and how we can migrate data from the pre-federal NepalMap to the federal NepalMap.

Much of the data we have is data for the pre-federal government boundaries. Are there data sets that can be migrated? What would be necessary to do in order to migrate data accurately? If you have ideas or thoughts, please contribute them in a comment in

[2018-11-28 14:33] nikeshbalami commented on #19
The issue was created because of the missing datasets of the Parasi districts from the Federal Data repo, I just submitted the PR with updated datasets.

**Regarding the district**
Nawalparasi: [Nawalpur, Province 4 (Nawalparasi East)] [Parasi, Province 5 (Nawalparasi West)] - We need to use the data of Parasi District at Nawalparasi West.

**Regarding the missing local bodies data**
The data of e

[2018-11-28 16:13] amitness commented on #11
@ravinepal It would be great to get them involved. The major roadblock currently is #19.

[2018-11-29 13:06] cliftonmcintosh commented on #11
With @nikeshbalami's data updates and his guidance provided in a comment on #19, we should now have the ability to account for the missing data. @amitness has some tooling for processing data in a Jupyter notebook. See this comment: https://github.com/Code4Nepal/nepalmap_federal/issues/19#issuecomment-437935324.

@ravinepal if one of the volunteers wants to try to process the missing data, they ar

[2018-11-29 13:07] cliftonmcintosh commented on #19
With @nikeshbalami's data updates and his guidance provided in the comment directly above, we should now have the ability to account for the missing data. @amitness has some tooling for processing data in a Jupyter notebook. See this comment: https://github.com/Code4Nepal/nepalmap_federal/issues/19#issuecomment-437935324.

@ravinepal if one of the volunteers wants to try to process the missing dat

[2018-11-30 06:03] devbks commented on #15
(y) i'll be joining the discussion. :)

[2018-12-01 18:00] cliftonmcintosh commented on #27
@ravinepal, @amitness, @nikeshbalami, @crackjack,

(I do not have the github usernames for Asmita and Roshan, so I cannot mention them here.)

This is intended to help with our discussion about the possibility of migrating data sets from pre-federal to the federal instance of NepalMap.

For any given level (national, provincial, district, local), **there must be data for every unit at that level**

[2018-12-01 18:12] cliftonmcintosh opened #28 "Evaluate the Nepal Rastra Bank's data for potential inclusion in NepalMap"
Nepal Rastra Bank publishes data on its "Financial Inclusion Dashboard" at http://www.emap.nrb.org.np/. Evaluate those data sets to see if any of them might be useful for inclusion in NepalMap. Some basic rules for useful data:

- If we publish data for a given level, every geographic unit at that level must have data in the data set. For example, if we want to publish data at the district level,

[2018-12-01 18:16] cliftonmcintosh opened #29 "Present district-level data on local elections"
For each district, we should be able to provide counts of the total number of polling places, the number mayoralities won by each political party in each district, and the number of deputy mayoralities won by each political party in each district. Please note that we must have data for every district in order for the Wazimap framework to be able to present data at the district level. If we do not

[2018-12-01 18:25] cliftonmcintosh opened #30 "Determine if Wazimap 1.0.0 would allow for the presentation of pre-federal and federal data in the same instance of NepalMap"
Wazimap 1.0 appears to allow for different data sets from different time periods. Evaluate this capability to determine if it would allow us to have one instance that presents both pre-federal and federal data.

The South Africa Wazimap is here: https://wazimap.co.za/profiles/country-ZA-south-africa/
The release docs are here: https://wazimap.readthedocs.io/en/latest/version_history.html
A blog po

[2018-12-01 22:54] ravinepal commented on #19
@suyogdahal - would you be interested in helping with this?

[2018-12-02 06:03] suyogdahal commented on #19
@ravinepal  - Sure sir, I'll have a look at it !

[2018-12-02 18:25] cliftonmcintosh opened #31 "Add population data missing for localities in Province 3"
Our data set for population is missing data for three localities in Province 3. The data are available in our "Federal Data" in https://github.com/Code4Nepal/data/.

See [this comment](https://github.com/Code4Nepal/nepalmap_federal/issues/19#issuecomment-437935324) for a link to a Jupyter notebook created by @amitness . You may be able to adapt it for your work.

Add the data to the [population.sq

[2018-12-02 18:28] cliftonmcintosh opened #32 "Add population data missing for locality in Province 2"
Our data set for population is missing data for one locality in Province 2. The data are available in our "Federal Data" in https://github.com/Code4Nepal/data/.

Add the data to the [population.sql](https://github.com/Code4Nepal/nepalmap_federal/blob/dev/sql/population.sql) file.  Please put the data in a logical place -- so that all data for the same district are in rows next to each other. That

[2018-12-02 18:30] cliftonmcintosh opened #33 "Add population data missing for locality in Province 6"
Our data set for population is missing data for one locality in Province 6. The data are available in our "Federal Data" in https://github.com/Code4Nepal/data/.

Add the data to the [population.sql](https://github.com/Code4Nepal/nepalmap_federal/blob/dev/sql/population.sql) file.  Please put the data in a logical place -- so that all data for the same district are in rows next to each other. That

[2018-12-02 18:31] cliftonmcintosh opened #34 "Add population data missing for locality in Province 7"
Our data set for population is missing data for one locality in Province 7. The data are available in our "Federal Data" in https://github.com/Code4Nepal/data/.

Add the data to the [population.sql](https://github.com/Code4Nepal/nepalmap_federal/blob/dev/sql/population.sql) file.  Please put the data in a logical place -- so that all data for the same district are in rows next to each other. That

[2018-12-02 18:34] cliftonmcintosh opened #35 "Add population data missing for locality in Province 1"
Our data set for population is missing data for one locality in Province 1. The data are available in our "Federal Data" in https://github.com/Code4Nepal/data/.

Add the data to the [population.sql](https://github.com/Code4Nepal/nepalmap_federal/blob/dev/sql/population.sql) file.  Please put the data in a logical place -- so that all data for the same district are in rows next to each other. That

[2018-12-02 18:35] cliftonmcintosh opened #36 "Add population data missing for locality in Province 4"
Our data set for population is missing data for one locality in Province 4. The data are available in our "Federal Data" in https://github.com/Code4Nepal/data/.

Add the data to the [population.sql](https://github.com/Code4Nepal/nepalmap_federal/blob/dev/sql/population.sql) file.  Please put the data in a logical place -- so that all data for the same district are in rows next to each other. That

[2018-12-02 18:37] cliftonmcintosh commented on #19
@suyogdahal

I have broken this into separate issues, one for each province to make it easier for someone to submit data for just one province. If you have not yet started and would like to take this on province-by-province, then please use one of those issues for your work. My reasoning for this is that it will allow volunteers to contribute in smaller batches and may allow multiple volunteers to

[2018-12-02 18:50] cliftonmcintosh opened #37 "Add population data missing for localities in Province 5"
Our data set for population is missing data for several localities in Province 5. The data are available in our "Federal Data" in https://github.com/Code4Nepal/data/. There are some individual localities for which data is currently missing. All localities for the district of Nawalparasi West, a.k.a., Parasi, is missing.

See [this comment](https://github.com/Code4Nepal/nepalmap_federal/issues/19#i

[2018-12-02 18:57] cliftonmcintosh opened #38 "Add population data of zero for all national parks, hunting and wildlife reserves and development areas"
National parks, hunting and wildlife reserves and development area have no official population (although I'm sure we all know that someone lives in them). For our purposes, add counts of zero for each national parks, hunting and wildlife reserve and development area in the table below.

Add the data to the [population.sql](https://github.com/Code4Nepal/nepalmap_federal/blob/dev/sql/population.sql)

[2018-12-02 18:58] cliftonmcintosh commented on #19
I have created the following issues to make it easier to break up the work into manageable units:

https://github.com/Code4Nepal/nepalmap_federal/issues/31https://github.com/Code4Nepal/nepalmap_federal/issues/31https://github.com/Code4Nepal/nepalmap_federal/issues/31
https://github.com/Code4Nepal/nepalmap_federal/issues/31https://github.com/Code4Nepal/nepalmap_federal/issues/31https://github.com/C

[2018-12-02 19:04] cliftonmcintosh opened #39 "What is correct, "Nawal" and "Parasi" or "Nawalparasi East" and "Nawalparasi West"?"
Our geographic data uses "Nawalparasi East" and "Nawalparasi West", but our population data has "Nawal" and "Parasi". The wikipedia says that "Nawal" and "Parasi" are the correct names for those districts. Is that accurate? If so, we should create an issue to correct our geographic data.

[2018-12-03 04:23] ravinepal commented on #39
Geographic data is correct.

Nawalparasi East" https://election.ekantipur.com/province-level-results/pradesh-4/district-nawalparasieast?lng=eng

"Nawalparasi West" https://election.ekantipur.com/pradesh-5/district-nawalparasiwest?lng=eng

[2018-12-03 04:37] nikeshbalami commented on #39
Basically "Nawalparasi East" and "Nawalparasi West" are the old names. The new and official names are "Nawalpur" and "Parasi", both are not wrong. It depends upon us, we can use any of them.

But I suggest to use new names, so we don't have to update it later.

[2018-12-03 04:38] nikeshbalami commented on #29
Looks like the result of Election Commission Nepal website is down. Will check it later and get back.

[2018-12-03 04:50] ravinepal commented on #39
thanks, nikesh! is there a gov website that gives the official names of these places? let's go with the official names

[2018-12-05 09:03] devbks commented on #22
How about using the available name of the provinces for now.

[2018-12-07 04:39] himalacharya commented on #39
Nawalparasi and Nawalparasi (Bardaghat Susta East)
http://daonawalparasibardhaghatwest.moha.gov.np/en
http://officies.moha.gov.np/?office=daonawalparasibardhaghateast

[2018-12-09 16:33] cliftonmcintosh commented on #39
What's the decision here, @nikeshbalami and @ravinepal ? Can you confirm which one we should use?

[2018-12-09 16:45] cliftonmcintosh commented on #38
SQL query with concatenation to build the data for parks, reserves and development areas:

[code]

[2018-12-09 17:20] cliftonmcintosh commented on #38
Zeros are not handled well by the wazimap framework. When the numbers are zero, the population section gets messed up.

Here is an example with Langtang National Park:
![langtang-park-zero-display-problem](https://user-images.githubusercontent.com/3824492/49700458-673c1800-fba4-11e8-9ff6-350872bf7136.png)

[2018-12-09 17:41] cliftonmcintosh commented on #19
@suyogdahal

I wanted to let you know that I have added data for national parks, hunting and wildlife reserves and development areas. #40 is the PR for that. That PR fulfills the issue #38.

How is it going with other data? Do you have any questions? Is there anything that @amitness or @crackjack or I can provide guidance about?

[2018-12-10 06:35] himalacharya commented on #39
Nawalparasi and Nawalparasi (Bardaghat Susta West) are official name ..
![image](https://user-images.githubusercontent.com/16852900/49714648-cf0e6380-fc75-11e8-8d42-5df257094d9d.png)
![image](https://user-images.githubusercontent.com/16852900/49714667-e2b9ca00-fc75-11e8-963c-c0523f937e9d.png)

I take this snapshot from dropdown menu in selecting district name from Election Commission, Nepal. This

[2018-12-12 01:47] openrijal commented on #39
if I am not wrong, there was no east or west before the districts got divided, it was called "Nawalparasi", but after it got split, the official names became "East Nawalparasi" and "West Nawalparasi", west is also known as "susta west", but the common names are "Nawalpur" and "Parasi" respectively.

I think we should just use "East Nawalparasi" and "West Nawalparasi" for clarity.

I'm certain ther

[2018-12-12 01:55] openrijal commented on #39
And I agree the "Official Name" for west nawalparasi is "Nawalparasi Bardaghat Susta West", but I think if we remove "Bardaghat and Susta" it would still make the same sense.

also, the district got split recently, the older version of Development Regions and Zones had only 1 district called "Nawalparasi" https://en.wikipedia.org/wiki/Lumbini_Zone

[2018-12-12 02:00] openrijal commented on #38
anything I can do to help here @cliftonmcintosh

[2018-12-12 03:32] clifton-mcintosh commented on #38
@crackjack

#40 resolves this issue.

[2018-12-12 22:38] code4nepal commented on #39
thank you, @himalacharya and @crackjack. Based on the election commission screenshots, please use Nawalparasi and Nawalparasi (Bardaghat Susta West). I like Nitesh's recommendation - I think for legal purposes we should keep the names as the gov has assigned.

[2018-12-12 22:38] #39 closed, assigned to nobody

[2018-12-13 03:23] #38 closed, assigned to cliftonmcintosh

[2018-12-14 02:13] cliftonmcintosh opened #43 "Male and female populations at the province level are identical for each province"
Prior to recent updates of more data added by @pratimakandel , the male and female populations for each province are identical. Please see
https://github.com/Code4Nepal/nepalmap_federal/blob/7bc04d17ca409f722af09d939028159e5d86d426/sql/population.sql

That is the commit before @pratimakandel began adding data for missing districts.

There must be some sort of error in the calculation.

[2018-12-15 22:04] cliftonmcintosh commented on #43
SQL to get the province population figures from the district totals
[code]

[2018-12-15 22:10] cliftonmcintosh commented on #43
#44 has been submitted to address this issue.

[2018-12-17 02:00] cliftonmcintosh commented on #43
Corrected with merge of #44

[2018-12-17 02:00] #43 closed, assigned to cliftonmcintosh

[2018-12-17 02:00] cliftonmcintosh commented on #31
Completed with #41

[2018-12-17 02:00] #31 closed, assigned to nobody

[2018-12-17 02:01] cliftonmcintosh commented on #32
Completed in #42

[2018-12-17 02:01] #32 closed, assigned to nobody

[2018-12-18 13:42] cliftonmcintosh commented on #33
fixed with #45

[2018-12-18 13:42] #33 closed, assigned to nobody

[2018-12-18 13:42] cliftonmcintosh commented on #34
fixed with #45

[2018-12-18 13:42] #34 closed, assigned to nobody

[2018-12-18 13:43] cliftonmcintosh commented on #35
fixed with #45

[2018-12-18 13:43] #35 closed, assigned to nobody

[2018-12-18 13:43] cliftonmcintosh commented on #36
fixed with #45

[2018-12-18 13:43] #36 closed, assigned to nobody

[2018-12-18 13:43] cliftonmcintosh commented on #37
fixed with #45

[2018-12-18 13:43] #37 closed, assigned to nobody

[2018-12-18 13:44] cliftonmcintosh commented on #19
Fixed with
#40
#41
#42
#45

Thank you, @pratimakandel !

[2018-12-18 13:44] #19 closed, assigned to nobody

[2018-12-19 12:29] nikeshbalami commented on #29
Is someone interested in working on this issues?

@nirmalrizal already have scrapped the entire http://result.election.gov.np/ website by using the script and the provincial and local level data can be very useful for us. We just need to translate and arrange.

Provincial level: https://github.com/nirmalrizal/data/blob/master/data/प्रदेश%20सभा/दलगत%20समानुपातिक%20परिणाम/data.csv, https://github.co

[2018-12-22 14:32] ravinepal commented on #22
this is how Gov of Nepal currently states its 7 provinces:

Province 1
Province 2
Province 3
Gandaki Province
Province 5
Karnali Province
Province 7

https://www.nepal.gov.np/NationalPortal/EN

Let's use this format.

[2018-12-22 14:32] #22 closed, assigned to nobody

[2019-01-21 18:41] cliftonmcintosh opened #49 "Map view for tables does not display"
From a profile, click "Show data", then select "Map" tab. Map view does not display correctly. "Table" and "Distribution" display correctly.

Example:

https://beta.nepalmap.org/data/map/?table=POPULATION&primary_geo_id=local-4003&geo_ids=local|district-28

![table-view-bug](https://user-images.githubusercontent.com/3824492/51495466-15310980-1d82-11e9-93f1-313ee956d00d.png)

Should look something

[2019-01-21 19:45] cliftonmcintosh opened #50 "Update "About NepalMap" sections"
The "About NepalMap" sections have been copied over from the pre-federal NepalMap. Review those sections and update them as appropriate.

They can be seen at the bottom of https://nm-fed.eastus.cloudapp.azure.com/ and on the about view at https://nm-fed.eastus.cloudapp.azure.com/about

[2019-01-21 19:47] cliftonmcintosh opened #51 "Update the github link in the footer"
Github link goes to the pre-federal repository at https://github.com/Code4Nepal/nepalmap_app. Update it so that it points to the federal repository.

[2019-01-21 19:51] cliftonmcintosh opened #52 "Update province names for Gandaki and Karnali provinces"
As per @ravinepal's comment at https://github.com/Code4Nepal/nepalmap_federal/issues/22#issuecomment-449574535, the government of Nepal lists the province names as:

Province 1
Province 2
Province 3
Gandaki Province
Province 5
Karnali Province
Province 7

Update Province 4 to be Gandaki Province and Province 6 to be Karnali Province. This will require updating the geojson and topojson files as wel

[2019-02-03 18:11] ravinepal commented on #49
@pratimakandel - would be interested in looking at this?

[2019-02-03 18:15] ravinepal commented on #11
This has been resolved, I believe. @cliftonmcintosh - fine to close this?

[2019-02-03 18:21] ravinepal opened #53 "Update 404 page"
https://nm-fed.eastus.cloudapp.azure.com/profiles/ -- shows 404 (See text below from current 404 page).

let's find best practice for useful to show on 404 page.

Text:

Using the URLconf defined in wazimap.urls, Django tried these URL patterns, in this order:

    ^$ [name='homepage']
    ^about$ [name='about']
    ^help$ [name='help']
    ^profiles/(?P<geography_id>\w+-\w+)(-(?P<slug>[\w-]+))?/$

[2019-02-03 18:42] clifton-mcintosh commented on #53
Yes, we should have a more generic page when not in a test environment. In the "beta" version, this is useful information to help solve bugs. I would suggest we continue to display this verbose message in the beta server

[2019-02-03 19:59] cliftonmcintosh commented on #53
This commit in the https://github.com/Code4Nepal/nepalmap_app project has the line to add:

https://github.com/Code4Nepal/nepalmap_app/pull/238/commits/1c9d398be7f99f15fb550adca31f3366870930e3

[2019-02-04 00:16] cliftonmcintosh commented on #53
@ravinepal

Can you please create an issue for the underlying error as well?

[2019-02-04 00:29] pratimakandel commented on #49
Yes, I will try to look into it. And will let you know if I have any
question.

On Sun, Feb 3, 2019 at 1:11 PM ravinepal <notifications@github.com> wrote:

[2019-02-16 16:57] #11 closed, assigned to amitness

[2019-02-17 01:56] ravinepal commented on #52
@divyamani1  - would you be interested in submitting a pull request on this issue?

[2019-02-17 06:53] divyamani1 commented on #52
Sure. So,Province 4 and Province 6 should be changed to Gandaki Province and Karnali Province respectively, and I should update respective changes in the geojson, topojson and the geography SQL file?

[2019-02-17 15:10] ravinepal commented on #52
yes!

On Sun, Feb 17, 2019 at 1:53 AM Divya mani Adhikari <
notifications@github.com> wrote:

--

[2019-02-17 16:49] cliftonmcintosh opened #55 "Inaccurate total population of 51 million"
The total population listed for Nepal using our current data set is 51 million. That seems very inaccurate!

Googling shows estimates between 26 and 30 million.

See https://beta.nepalmap.org/profiles/country-NP-nepal/

The inaccurate data are here: https://github.com/Code4Nepal/nepalmap_federal/blob/dev/sql/population.sql#L1750-L1751

### Screenshot

![51-million-population](https://user-images.g

[2019-02-17 17:19] ravinepal commented on #55
@pratimakandel - would you like to take a look at this and submit a pull request within a week or so if you have time?

[2019-02-18 13:17] ravinepal commented on #49
hi @hbvj99 - thank you for interest in contributing to open source products. Would you be interested in submitting a pull request for this issue?

[2019-02-18 14:59] hbvj99 commented on #49
@ravinepal thank you for mentioning. I'm working on a fix will notify you soon.

[2019-02-18 15:02] hbvj99 commented on #49
@ravinepal thank you for mentioning. I'm working on a fix and will notify you soon.

[2019-02-18 15:13] clifton-mcintosh commented on #49
Please let me know if you have any questions while getting your dev environment set up.

[2019-02-18 21:17] cliftonmcintosh commented on #55
Fixed by #56

Thank you, @pratimakandel

[2019-02-18 21:17] #55 closed, assigned to nobody

[2019-02-18 21:21] cliftonmcintosh commented on #55
screenshot after update

![issue-55-population-fix](https://user-images.githubusercontent.com/3824492/52976894-e910a480-3390-11e9-8272-f695f72483c6.png)

[2019-03-02 20:24] #51 closed, assigned to ravinepal

[2019-03-02 20:29] cliftonmcintosh commented on #52
Fulfilled by #57.

Thank you @divyamani1. Your work is now visible at https://beta.nepalmap.org

![provinces-renamed](https://user-images.githubusercontent.com/3824492/53687220-94a5e700-3cf7-11e9-9df7-d7c2456d6bdf.png)

[2019-03-02 20:29] #52 closed, assigned to nobody

[2019-03-02 20:33] cliftonmcintosh opened #58 "Update main page teaser text and "Find facts" text"
The current description on the main page is

The "Find facts" description should also be revised. It says

These both should be changed to reflect data that we currently provide in the federal version. They can be updated later with new suggested ideas for things to look for.

![teaser-text](https://user-images.githubusercontent.com/3824492/53687277-683e9a80-3cf8-11e9-97c0-c81fdb9197cd.png)

[2019-03-02 20:47] cliftonmcintosh commented on #49
One thing that may be useful is to run the app and

- monitor the web browser console
- take a look at the debug level SQL log statements that are put out in the terminal

There is a JavaScript error when this view is accessed, and it should provide insight into what is going wrong. This will almost certainly be very useful. If you set a breakpoint at the line that fails, you will see that each of

[2019-03-10 14:59] openrijal commented on #49
I was looking into this, had a few issues

1. Installation of the repo was difficult for me, some version mismatch involving Django, Wazimap and django-cors-header, had to install different versions to get the app up and running
2. Had to add auth module after upgrading to Django 2
3. The SQL that is run when the URL is hit, has these in it
`SELECT "wazimap_geography"."id", "wazimap_geography"."ge

[2019-03-10 15:39] cliftonmcintosh commented on #49
@crackjack

For the purposes of this ticket, I would suggest not doing any library upgrades so that those changes don't mask or confound the issue in this ticket.

I do not know what upgrading Django will do. It may or may not be compatible with wazimap 0.8.2. I would suggest creating a separate issue for that so that any changes that need to be made for possible Django upgrades be separated out f

[2019-03-10 15:43] cliftonmcintosh commented on #49
@hbvj99

You reached out to me by email to ask about this ticket a couple of weeks ago. Did my updated comments help provide any guidance on this?

[2019-03-10 16:59] hbvj99 commented on #49
@cliftonmcintosh It seems like there is a data mismatch between topojson, geojson. Also, when I replaced district topojson from nepalmap_app, the map seems to be working fine, but the geolocation is not correct.

![Screenshot from 2019-03-10 21-46-33](https://user-images.githubusercontent.com/43197293/54088128-953b1f00-4382-11e9-9666-8081f967ab48.png)

[2019-03-10 17:19] cliftonmcintosh commented on #49
@hbvj99

When the app goes into that view, it tries to find the matching area in the topojson files by using the "geoid" fields in the topojson files. It expects the "geoid" fields to be the "geo_level" plus the "geo_code", like "level-code". For example, if it is trying to find the geographic data about Achham, it will look in the "district.topojson" file for `"geoid":"district-01"`. If you look

[2019-03-10 19:54] openrijal commented on #49
I'm actually editing the topojson and geojson files to make that change from `dis-01` to `district-01` and `loc-1001` to `local-1001`.

I found that was the only change from old nepalmap v/s the federal one in terms of geo codes

[2019-03-10 19:55] openrijal commented on #49
for my local installation, I had to upgrade both wazimap and django to get it running, but I will make sure not to push those changes so that it does not break anything.

[2019-03-10 20:50] clifton-mcintosh commented on #49
It sounds like we have two people working on the issue, @crackjack and @hbvj99

[2019-03-11 13:09] openrijal commented on #49
in that case, I'll stop working on it. I have changed the geojson and topojson files, but looks like we also need to edit those entries in the database to match them.

I was thinking to change the SQL files next, but I'll wait until further notice. I am available to help if needed @hbvj99

[2019-03-11 13:50] cliftonmcintosh commented on #49
I don't believe we need to change the SQL

On Mon, Mar 11, 2019, 8:09 AM Nitesh Rijal <notifications@github.com> wrote:

[2019-03-11 22:48] openrijal commented on #49
the sql file has `geo_codes` as just integers, is that fine? I thought since we said the `geo_codes` should be changed in the topojson and geojson, we need to change it in the sql too.

I think I should start reading about it in the wazimap documentation instead of asking you all these questions. @cliftonmcintosh

any updates on this @hbvj99? lets sync up if you want to collaborate on this.

[2019-03-12 00:07] cliftonmcintosh commented on #49
@crackjack

Even though they don't have quotes around them in the SQL file, they are read in as strings. You can see the table definition here:
https://github.com/Code4Nepal/nepalmap_federal/blob/dev/sql/geography.sql#L34-L44

Note the definition of `geo_code`: `geo_code character varying(10) NOT NULL`.

FWIW, the `wazimap_geography` table structure is defined by Wazimap. If we altered the data ty

[2019-03-12 06:33] hbvj99 commented on #49
@cliftonmcintosh @crackjack I'm not sure how to tackle this issue, do we have to update geo files? I found ```wazimap_za``` https://github.com/OpenUpSA/wazimap-za don't use geo files a static content. Could we apply the same approach on solving this issue?

[2019-03-12 14:32] openrijal commented on #49
I have updated the geojson and topojson files with the geo_id being `local-`, `district-` etc, I can push it tonight if you want me to.

[2019-03-13 01:24] cliftonmcintosh commented on #49
@crackjack

I'm curious if you've had a chance to test the impact of the changes. Does the map view render correctly after the changes?

[2019-03-13 01:34] cliftonmcintosh commented on #49
@hbvj99

I believe Wazimap South Africa uses https://mapit.code4sa.org/ to manage its geographical lookups. See https://github.com/OpenUpSA/wazimap-za/blob/master/wazimap_za/geo.py

The standard way to manage map data in the Wazimap framework is to use geojson and topojson files. See https://wazimap.readthedocs.io/en/latest/geos.html#maps-and-boundary-data

[2019-03-15 20:04] openrijal commented on #49
@cliftonmcintosh I tried to install the dependencies from our project, as well as from the wazimap_za repo's requirement, but I cannot get past the dependency issue
[code]

[2019-03-15 23:03] cliftonmcintosh commented on #49
The requirements.txt for this project specify wazimap 0.8.2.

https://github.com/Code4Nepal/nepalmap_federal/blob/dev/requirements.txt

The printout from your message says wazimap 2.0.0. I'm not sure how that got there. Can you set up virtualenv or some other environment manager and run `pip install requirements.txt` so that it uses the correct version of wazimap? When I run `pip show wazimap`, it

[2019-03-16 02:15] openrijal commented on #49
I'm sorry about not explaining it fully. Let me put it this way:
1. using the requirements from our project, it gets 0.8.2 for wazimap, no doubt. but I get an error on middlewares for django-cors-headers because it requires django version above 1.10
2. using the requirements from wazimap_za repo, it fails to compile GDAL, and I get wazimap 1.0.0.

I have used virtualenv, I do that for every projec

[2019-03-16 02:16] openrijal commented on #49
I say we setup a time of about max 1 hour to go over this, it will help me catch up and may be fix the issue ultimately.

[2019-03-16 13:22] cliftonmcintosh commented on #49
@crackjack

Here is the outcome of `pip freeze`: [nepalmap_federal.txt](https://github.com/Code4Nepal/nepalmap_federal/files/2973929/nepalmap_federal.txt)

And here is my python version:
[code]
What OS are you running? I can spin up a VM with that OS and try to build the project fresh to see if I encounter the problems you have encountered.

I doubt I have any advice that is better conveyed verbal

[2019-03-16 18:02] openrijal commented on #49
see you have different versions of Django, Gdal, etc

[2019-03-16 18:03] openrijal commented on #49
I'll get this running with your requirement, I hope it will work. I use Arch Linux, so it doesn't have a version, may be using it through docker is a better idea.

[2019-03-16 19:13] cliftonmcintosh commented on #49
@crackjack

I did not try with Arch, but I was able to do an install in Linux Mint. The one package import I had to adjust was `django-cors-headers`, setting it to 2.4.2 in the requirements.txt. `pip install` loaded `django-cors-headers 2.5.2` by default and it failed on a deprecated dependency. Once I adjusted requirements.txt for that, I was fine.

[2019-03-17 00:50] openrijal commented on #49
@cliftonmcintosh you were right about the dependencies. I re-did everything, installed from requirements.txt file but with version `django-cors-headers==2.4.1` because 2.4.2 was not found.

I am able to load the map now, I have attached a screenshot here.

I am going to push it and create a pull request for you to review, I have also changed the requirements.txt file with the change.

![Screenshot

[2019-03-17 00:54] openrijal commented on #49
PR for review: https://github.com/Code4Nepal/nepalmap_federal/pull/60

@cliftonmcintosh @ravinepal

[2019-03-19 10:24] cliftonmcintosh commented on #49
Fixed with #60

Thank you, @crackjack

[2019-03-19 10:24] #49 closed, assigned to nobody

[2019-03-20 11:42] cliftonmcintosh commented on #49
@crackjack

Your changes are now deployed to https://beta.nepalmap.org

Thank you for the fix.

[2019-03-24 17:02] cliftonmcintosh opened #61 "Liwang Bazar in Rolpa incorrectly identified as part of Musikot in Rukum West"
At the center of Rolpa is an area that OpenStreetMap has as "Liwang Bazar". It seems to be in the middle of Rolpa municipality. When you hover over it, it is shown as "Musikot" in Rukum West. This is almost surely wrong. Possibilities:

- It is actually part of the Rolpa muncipality that is both to the north and to the south of it on the map.
- It is some other municipal or local unit, not Musikot

[2019-04-29 10:41] amitness commented on #58
Is this issue fixed by #59? We can close this if so.

[2019-04-29 12:44] cliftonmcintosh commented on #58
Yes, I believe #59 addressed this issue.

[2019-04-29 12:44] #58 closed, assigned to nobody

[2019-04-29 13:53] amitness commented on #50
This also seems to be fixed by #59.

[2019-04-29 13:53] #50 closed, assigned to ravinepal

[2019-05-01 10:05] amitness commented on #53
@ravinepal @clifton-mcintosh Looks like this is already solved? I see a generic 404 page right now.

![image](https://user-images.githubusercontent.com/8587189/57012980-c8828780-6c28-11e9-9726-e4927e3f0a2e.png)

[2019-08-20 08:42] cliftonmcintosh opened #64 "Add a link to the original data set for each profile section"
For each section in the profile, add a link to the original data set to allow users to double-check our work and to provide more accountability and transparency. For example, the Households summary would have a link to the National Data Profile (http://nationaldata.gov.np) underneath the section where the total number of households is shown in NepalMap. Links should be as specific as possible but

[2019-08-24 12:17] amitness commented on #64
@cliftonmcintosh Which of the following is correct?
1. 'source: national data' under each of the chart in the household section.
2. one 'source: national data' only for the whole "household" section

I understood the description as (2).
![image](https://user-images.githubusercontent.com/8587189/63637169-166c4100-c699-11e9-9e4f-8cc5c552ebbe.png)

[2019-08-24 13:56] cliftonmcintosh commented on #64
Yes, I agree

sounds good

[2019-08-24 16:50] amitness opened #66 "Fix issue in aggregated country level data"
@cliftonmcintosh I was doing some cross-checking of data to national portal and looks like there was an issue with the way I was aggregating data to find country-level totals. I had missed filtering the data to province-level before aggregating. So it was aggregating all (province + district + local) causing incorrect country-level data, but no effect on bar graphs(since they are in %). I will cre

[2019-08-24 21:28] cliftonmcintosh opened #69 "Specify "hectare" as unit of measurement in agricultural land holdings statistics"
The unit of measurement for land holdings is the hectare, but we do not specify what unit we are using. We should update the display so that it states that the units is the hectare.

Current view for land holdings:
![agriculture-without-unit-of-measurement](https://user-images.githubusercontent.com/3824492/63642884-321d1a80-c68c-11e9-8990-71710537d844.png)

Sample with unit specified in old NepalM

[2019-08-24 21:39] #66 closed, assigned to amitness

[2019-08-25 08:27] #64 closed, assigned to amitness

[2019-08-25 16:24] amitness commented on #69
Solved by #70

[2019-08-25 16:24] #69 closed, assigned to cliftonmcintosh

[2019-11-28 13:27] nikeshbalami opened #77 "Fix the map display issue"
The current beta version doesn't display the navigation map.

Current version
![image](https://user-images.githubusercontent.com/3656268/69809897-cc07dc80-1212-11ea-965c-c64e383ea71d.png)

What we need (similar like older version)
![image](https://user-images.githubusercontent.com/3656268/69809915-d4601780-1212-11ea-8a7c-8e38772d4bac.png)

[2019-11-28 13:33] nikeshbalami opened #78 "Update Homepage (Find facts) content"
It says only population data, Since we already have more data now, it will be great to update those text.

![image](https://user-images.githubusercontent.com/3656268/69810298-acbd7f00-1213-11ea-9d96-69c7680e9810.png)

[2019-11-28 13:45] nikeshbalami opened #79 "Create top menu icon navigation of available data"
South Africa portal (https://wazimap.co.za/profiles/country-ZA-south-africa/) has this beautiful icon navigation located at the top. This will make the data navigation easy because users don't have to scroll through the whole page. Create/Develop something similar for NepalMap.

South Africa display
![image](https://user-images.githubusercontent.com/3656268/69811006-3de12580-1215-11ea-8270-89f8563

[2019-11-30 12:22] nikeshbalami commented on #78
Updated Homepage content is now available here: https://docs.google.com/document/d/1260oj8mpWfliKvFISZb7ZgE7-iBZ28re7mtzao9ddHY/edit?usp=sharing

[2019-11-30 15:18] ishandongol commented on #79
working on it

[2019-11-30 16:02] ishandongol commented on #78
thanks for the content. will update it

[2019-11-30 17:04] nikeshbalami commented on #77
Found out that the map displays pretty properly but requires more load time and good internet speed. Closing this issue :)

[2019-11-30 17:04] #77 closed, assigned to nobody

[2019-11-30 18:37] cliftonmcintosh opened #82 "Approximately 600000 lower population in in federal version than in pre-federal version"
The total population for the pre-federal NepalMap and the federal NepalMap both come from the 2011 census. However, the two versions do not agree on the total population. The pre-federal version counts 2,64,94,504 people while the federal version counts almost 6,00,000 fewer: 2,59,07,649.

Any idea why we might have this difference?

Pre-federal version:
![pre-federal population](https://user-imag

[2019-12-01 01:37] ishandongol commented on #82
I have no idea. Nikesh has better idea on that.

On Sun, 1 Dec 2019, 00:22 Clifton McIntosh, <notifications@github.com>
wrote:

[2019-12-01 02:45] ravinepal commented on #30
@cliftonmcintosh - I'm curious if we should have also have census2011.nepalmap.org to archive the pre-federal data as it is?

[2019-12-01 03:20] cliftonmcintosh commented on #30
That would certainly be possible, yes.

[2019-12-01 06:48] ravinepal commented on #79
Hey @ishandongol - a while ago, @arlexgole had created a modern look and feel for NepalMap. May I ask if you could look into it and implement changes.  I think having navigation on the left side, and Google's Material Design approach would be much user friendly.

We'd be very grateful for your help. Pls see below

https://github.com/Code4Nepal/nepalmap_app/issues/243#issuecomment-463049728

[2019-12-01 16:19] nikeshbalami commented on #82
We are currently reviewing the data, will ask everyone to check the population data carefully.

[2019-12-01 16:26] cliftonmcintosh opened #84 "Upgrade to latest wazimap version for Python 2.7 end of life"
This project is currently running on Wazimap 0.8.2, which uses Python 2.7. Python 2.7 is reaching end of life at the end of 2019. This project should be upgraded to the latest version of Wazimap, which includes an upgrade to Python 3.

There are breaking changes from 0.8.2 to 1.0.0 of Wazimap that will need to be dealt with. There are also breaking changes from 1.X Wazimap to 2.X Wazimap.

I would

[2019-12-02 02:00] ishandongol commented on #79
Sure, Will look into it.

On Sun, 1 Dec 2019, 12:33 ravinepal, <notifications@github.com> wrote:

[2019-12-07 06:10] nikeshbalami commented on #61
Found out - this error is caused because of the overlap of Musikot over Rolpa municipality. We need to update the Local Level geoJSON and TopoJSON file to resolve this issue.

[2019-12-08 18:56] cliftonmcintosh opened #88 "Upgrade to Caddy docker image 1.X"
We are currently using the Caddy docker image 0.11.5. The most recent version of the Caddy docker image is 1.0.3. An attempt to run 1.0.3 on beta.nepalmap.org suggests there may be some adjustment that needs to be made in order to run 1.X.

This is what the error looks like when the caddy server tries to start
[code]

[2019-12-08 18:57] cliftonmcintosh commented on #88
@suvash

Would you be willing to work on this upgrade (or even an upgrade to Caddy 2)? If so, we can provide you with a test server from which to test, if needed.

[2019-12-09 02:27] suvash commented on #88
Hi ! Sure, I can look into upgrading to Caddy 2. Though, probably sometime in Jan. Does that sound reasonable ?

[2019-12-15 14:45] cliftonmcintosh opened #89 ""Code for Nepal is entirely built..." should be "NepalMap is entirely built...""
I believe the text "Code for Nepal is entirely built by volunteers..." should be "NepalMap is entirely built by volunteers..."

https://github.com/Code4Nepal/nepalmap_federal/blob/dev/wazimap_np/templates/homepage.html#L96

I would also suggest we could link to the GitHub contributors for the project: https://github.com/Code4Nepal/nepalmap_federal/graphs/contributors

[2019-12-15 14:47] cliftonmcintosh opened #90 "about.html text should be updated to match homepage.html text"
With #78, the text of the homepage was updated. There is an identical section in the `about.html` template: https://github.com/Code4Nepal/nepalmap_federal/blob/dev/wazimap_np/templates/about.html#L4-L24

This should be updated to match the homepage content at https://github.com/Code4Nepal/nepalmap_federal/blob/dev/wazimap_np/templates/homepage.html#L75-L103

[2019-12-15 14:53] cliftonmcintosh commented on #78
@nikeshbalami and @ishandongol

Ishan's update to the homepage has been deployed to https://beta.nepalmap.org/.

I have also created issues #89 and #90 as follow ups to that work.

![updated-homepage-20191215](https://user-images.githubusercontent.com/3824492/70864510-5ab97080-1f18-11ea-8afa-a9c9974e755d.png)

[2019-12-15 14:56] cliftonmcintosh commented on #79
@nikeshbalami I believe this was fulfilled by #80. Can this issue be closed now?

[2019-12-15 14:57] #53 closed, assigned to nobody

[2019-12-15 15:00] cliftonmcintosh commented on #84
I have updated the dependencies to the most recent version for Python 2.7. The version of wazimap that runs on Python 3 has not yet been published to PyPi. The maintainers are currently working on documentation.

https://github.com/OpenUpSA/wazimap/issues/154

[2019-12-15 15:09] cliftonmcintosh commented on #27
Closing. Did not generate any discussion.

[2019-12-15 15:09] #27 closed, assigned to nobody

[2019-12-15 15:09] cliftonmcintosh commented on #28
Is this still something people want to look at? If there is no activity by Dec. 21, 2019, I will close this issue.

[2019-12-15 15:13] cliftonmcintosh commented on #29
Is there interest in pursuing this issue? If not, I will close this on Dec. 21, 2019.

[2019-12-15 15:14] cliftonmcintosh commented on #30
No one has expressed interest in pursuing this issue. If there is no tangible interest, I will close this issue on Dec. 21, 2019.

[2019-12-16 02:03] nikeshbalami commented on #79
Let's keep this issues alive so that it will be easier for @ishandongol to navigate @ravinepal comment about modernizing the look of NepalMap or we can close this one and create new issues for it: https://github.com/Code4Nepal/nepalmap_app/issues/243

[2019-12-16 06:11] nikeshbalami opened #92 "Update local levels name at geography.sql"
While reviewing the population data, we found many spelling mistakes of local levels name in geography.sql file.

If possible update the SQL file will full name, for example, "Kathmandu" with "Kathmandu Metropolitan City" and so on, this will make the data adding part easier for upcoming days.

Will soon create and share a new sheet with existing geo_code; to discuss the possibilities.

[2019-12-17 03:04] ishandongol commented on #90
will update that.

On Mon, 16 Dec 2019, 08:30 Nikesh Balami, <notifications@github.com> wrote:

[2019-12-17 04:42] nikeshbalami commented on #92
Here goes the sheet with updated/changed name of local levels for SQL file: https://docs.google.com/spreadsheets/d/1Jcqcf2BDT6TqaUO-4HtOapZY0AkKI7Fgy2XR5K6hY-Y/edit?usp=sharing

[2019-12-17 15:03] ishandongol commented on #89
@cliftonmcintosh I updated this in #90

[2019-12-17 21:50] pratimakandel commented on #92
Great! I will test it and submit a pull request.

Sincerely,
Pratima Kandel.

On Mon, Dec 16, 2019 at 11:42 PM Nikesh Balami <notifications@github.com>
wrote:

[2019-12-18 11:26] nikeshbalami commented on #82
Thank you so much @cliftonmcintosh for the heads up, while reviewing we found many errors in population data.

@pratimakandel and I have created a new sheet with updated population data (https://docs.google.com/spreadsheets/d/1hM7vIDtQGG818XNxuRW1_JtFpgx7msmosdjkM3rHfdM/edit?usp=sharing). She will soon update this at NepalMap population SQL to resolve this issue.

[2019-12-21 18:25] #89 closed, assigned to cliftonmcintosh

[2019-12-21 18:28] cliftonmcintosh commented on #90
Completed in #93

[2019-12-21 18:28] #90 closed, assigned to ishandongol

[2019-12-22 16:46] nikeshbalami commented on #92
@pratimakandel @cliftonmcintosh

Here goes the new sheet with the short name at "name" part and official name at "long_name" part. Let's update this at geography.sql table again: https://docs.google.com/spreadsheets/d/1EnnVMf6XzAxiw4qUBwKw683Ie9Z6y9hf5sn07VGgf38/edit?usp=sharing

[2019-12-22 18:04] nikeshbalami opened #96 "Update new/current local bodies name at TopoJSON and GeoJSON file"
Find a way to update new/current local levels name at TopoJSON and GeoJSON file, so that the new name can be displayed at a map while hovering.

Here is the list of the changed local bodies name: https://docs.google.com/spreadsheets/d/1Y3Na_CEWLHERczUng_lGfpc4jl0qalVAmF3Aioc6VEc/edit?usp=sharing

[2019-12-27 02:10] nikeshbalami commented on #78
Closing this issue, it has been resolved in PR https://github.com/Code4Nepal/nepalmap_federal/pull/93 and https://github.com/Code4Nepal/nepalmap_federal/pull/91

[2019-12-27 02:11] #78 closed, assigned to nobody

[2020-01-04 18:53] cliftonmcintosh opened #98 "Are "short" names okay for display?"
In a [comment](https://github.com/Code4Nepal/nepalmap_federal/pull/95#issuecomment-568274043) on #95, I suggested using shorter names for the "name" field in the geography table and using full names for the "long name" field. (An example would be "Parivartan" versus "Parivartan Rural Municipality".) I incorrectly stated that the "long name" field would be displayed in the main box that shows for a

[2020-01-05 01:32] ravinepal commented on #98
should be fine. let's see what @nikeshbalami advises.

[2020-01-05 01:36] nikeshbalami commented on #98
Since the "**long_name**" is shown as an option while searching, I believe having "**name**" at display and map will be okay/works fine, because the chances of using the search function by most of the users are high.

More, importantly having a "long_name" at the map makes it looks messy during the time of hover, so I am quite satisfied with the current update.

**Putting this on the record**
"lon

[2020-01-05 01:38] nikeshbalami commented on #82
Thank you @pratimakandel & @cliftonmcintosh

Solved by PR https://github.com/Code4Nepal/nepalmap_federal/pull/95, closing this issue.

[2020-01-05 01:38] #82 closed, assigned to nobody

[2020-01-05 01:50] nikeshbalami commented on #96
I believe the name of local bodies in **Map** are still needed to be made as per the above sheet. In https://github.com/Code4Nepal/nepalmap_federal/pull/95#issuecomment-568274043 @cliftonmcintosh suggested writing a script to alert the changed name, rather than changing the whole GEO file.

@pratimakandel @ishandongol do you guys know how to do it, or maybe @cliftonmcintosh if you have some time t

[2020-01-05 01:51] nikeshbalami commented on #92
Thank you @pratimakandel and @cliftonmcintosh

Solved by PR https://github.com/Code4Nepal/nepalmap_federal/pull/95, Closing this issue.

[2020-01-05 01:51] #92 closed, assigned to nikeshbalami, pratimakandel

[2020-01-05 01:55] nikeshbalami commented on #79
Thank you @ishandongol for working on it and @cliftonmcintosh & @ravinepal for the guidance.

Solved by PR https://github.com/Code4Nepal/nepalmap_federal/pull/80, https://github.com/Code4Nepal/nepalmap_federal/pull/81 & https://github.com/Code4Nepal/nepalmap_federal/pull/97, closing this issue.

[2020-01-05 01:55] #79 closed, assigned to nobody

[2020-01-05 01:58] nikeshbalami commented on #29
Since presenting local elections data is more feasible, let's keep this issue alive. Will work on it next month during my free time.

[2020-01-05 02:04] nikeshbalami commented on #30
Both the pre-federal and federal data come from Census 2011.

Closing this issue; because at the end of the day, the data we are using is same and we already have most of the data which are in the pre-federal version.

[2020-01-05 02:06] #30 closed, assigned to nobody

[2020-01-05 17:18] #98 closed, assigned to nikeshbalami

[2020-01-05 17:21] cliftonmcintosh commented on #96
@nikeshbalami

Thanks for the update. My available time is limited right now, and I will be unable to help with this task. @crackjack did the initial work to add the geo codes and names to the JSON files. He may have a script that can be adapted for this work.

[2020-01-05 18:28] openrijal commented on #96
Hi Guys. The script I used are still available here: https://github.com/Code4Nepal/maptools/tree/master/geo

Let me know if I can be of any help.

[2020-01-05 18:30] openrijal commented on #96
I would suggest a quick find and replace in this case. Writing a script might be longer than doing it manually.

[2020-01-06 03:36] pratimakandel commented on #96
I have created a pull request for this issue, Please let me know if there is anything missing.
https://github.com/Code4Nepal/nepalmap_federal/pull/99

[2020-01-12 16:04] cliftonmcintosh opened #100 "National Parks generate an error"
When selecting a geographic area for a national park, NepalMap throws an error. See, for example, https://beta.nepalmap.org/profiles/local-35099-chitawan-national-park/.

~~That is because the national parks are not present in the population.sql file. They appear to have been removed when the population was updated.~~

~~As per issue #38, population data for national parks was set to zero to handl

[2020-01-14 14:53] nikeshbalami commented on #100
@pratimakandel can you give a quick look at this issues; coming weekend :)

I believe; we have represented national park correctly in both geography.sql and population.sql.

[2020-01-14 14:56] nikeshbalami commented on #96
Closing this issue, solved by PR https://github.com/Code4Nepal/nepalmap_federal/pull/99

Thank you @pratimakandel :)

[2020-01-14 14:56] #96 closed, assigned to nobody

[2020-01-15 05:01] pratimakandel commented on #100
@cliftonmcintosh @nikeshbalami
Is this how national parks and reserves should be displayed?
![chitwan_example](https://user-images.githubusercontent.com/39708188/72406240-8e5f0480-3729-11ea-8a02-4f880035db21.png)

[2020-01-15 05:24] nikeshbalami commented on #100
Yes @pratimakandel

@cliftonmcintosh looks like, we have the similar error at the pre-federal version. The national parks and reserves are throwing display errors: https://nepalmap.org/profiles/vdc-2595-bardiya-national-park/

[2020-01-15 21:26] pratimakandel commented on #100
I have created a pull request for this issue #101. Please let me know if there is anything missing.
Thank you.

[2020-01-19 14:52] cliftonmcintosh commented on #100
Fixed by #101

Thank you, @pratimakandel

[2020-01-19 14:52] #100 closed, assigned to pratimakandel

[2020-01-19 15:02] cliftonmcintosh opened #103 "On mobile, "Show data/Embed" link overlaps pie-chart legend with more than 7 items"
Each data set has a "Show data/Embed" link with it. When there is a pie chart with 8 or more items in its legend, the "Show data/Embed" link overlaps the legend on mobile. See here an example. The legend for type of foundation (6 items) and type of wall (7 items) does not have the link overlapping. The link overlaps for type of roof, which has 8 items in its legend. The Disability chart suffers fr

[2020-01-19 15:09] cliftonmcintosh opened #104 "On mobile, the data tile in the map view for a table covers up the map"
When a user on mobile accesses the map view for a table, the tile that displays data overlaps and hides the map. It would be great if both the map and the tile were visible, much like the update done for the profile view in #102

See this example for [wall type](https://beta.nepalmap.org/data/map/?table=OUTERWALLTYPE&primary_geo_id=district-41&geo_ids=district|province-3)

Screenshot on mobile:
![

[2020-01-19 15:18] cliftonmcintosh commented on #103
@ishandongol

Would this be something you would be willing to address?

[2020-01-19 15:18] cliftonmcintosh commented on #104
@ishandongol

Would this be something you would be willing to address?

[2020-01-20 01:08] ravinepal opened #105 "Update graphics on homepage of beta.nepalmap"
![Screen Shot 2020-01-20 at 6 47 31 AM](https://user-images.githubusercontent.com/3759081/72691928-09bd1d80-3b51-11ea-8839-aff58eb5016c.png)

Update graphics with screenshots from beta.nepalmap.org to reflect federal data.

Here's an example: https://beta.nepalmap.org/profiles/country-NP-nepal/#literacy-by-sex

[2020-01-20 16:25] divyamani1 commented on #84
@cliftonmcintosh Is anyone looking into this? I'm actually working on this and I'm checking the project with wazimap 1.2.1 and the updated requirements.

When updating requirements using `pip install -r requirement.txt`, `django-sass-processor` v0.8 is installed which doesn't support Python 2.7, so I've downgraded to 0.7.5 (which could be explicitly defined in requirements.txt, but it's redundant

[2020-01-20 16:48] cliftonmcintosh commented on #84
@divyamani1

Thank you for your interest in helping with this issue. There are several things that will be useful to note:

1. There are breaking changes in the upgrade to wazimap 2.1. The [upgrade directions](https://wazimap.readthedocs.io/en/latest/upgrading.html#upgrading-from-1-x-to-2-x) in the Wazimap docs will be useful for that. I am not sure what the implications of data table management b

[2020-01-20 16:52] cliftonmcintosh commented on #84
@divyamani1

Please note

- The project has already been upgraded to wazimap 1.2.1. The step needed now is upgrading to [wazimap 2.1](https://pypi.org/project/wazimap/2.1.0/).
- The main branch is not `master` but `dev` (for historical reasons that were not good reasons). You will need to submit changes based on that branch, not `master`.

[2020-01-20 17:06] divyamani1 commented on #84
All right, I'll look into it.

[2020-01-21 11:59] ishandongol commented on #105
sure will look into it.

On Mon, Jan 20, 2020, 06:53 ravinepal <notifications@github.com> wrote:

[2020-01-21 12:00] ishandongol commented on #104
Sure. will look into it.

On Sun, Jan 19, 2020, 21:03 Clifton McIntosh <notifications@github.com>
wrote:

[2020-01-21 12:01] ishandongol commented on #103
Yes sure. But this might take some time.

On Sun, Jan 19, 2020, 21:03 Clifton McIntosh <notifications@github.com>
wrote:

[2020-01-23 13:54] divyamani1 commented on #84
Wazimap v2.1.0 still uses `dict.itervalues()` to iterate through the values in dictionary (like FIELD_TABLES) instead of `dict.values()` as required by Python 3. This is causing problems to upgrade tables. Editing `itervalues()` to `values()` shows that the code is working fine. so, Am I missing something?

[2020-01-23 14:11] cliftonmcintosh commented on #84
@divyamani1

I don't know. I have not explored that yet. I would suggest opening an issue on the wazimap project, asking there about it. They are good about responding.

https://github.com/OpenUpSA/wazimap

[2020-01-25 19:50] cliftonmcintosh commented on #105
Has this issue been resolved with #106 ?

[2020-01-25 20:45] cliftonmcintosh commented on #84
@divyamani1

I have opened https://github.com/OpenUpSA/wazimap/pull/157 to replace the use of .itervalues() with .values().

What happens if you add six to the dependencies for nepalmap_federal? Will that allow .itervalues() to work?

If not, can you import my branch that has the chance and use it for the wazimap dependency temporarily while you work on upgrading nepalmap_federal?

[2020-01-25 20:48] cliftonmcintosh commented on #84
@divyamani1

If you [see the Travis CI output for my wazimap branch](https://travis-ci.org/OpenUpSA/wazimap/builds/641827861) (which failed to build until six was added), you'll see six is included in the testing. Please try using six with nepalmap_federal. This will allow you to proceed while with the upgrade without having to wait for a new release of wazimap.

[2020-01-27 10:47] divyamani1 commented on #84
@cliftonmcintosh I have six installed on my machine and still, the project refuses to work. I'll proceed with your branch.

[2020-01-27 14:23] nikeshbalami commented on #105
Yes, this has been resolved. Thank you @ishandongol :)

[2020-01-27 14:23] #105 closed, assigned to ishandongol

[2020-01-30 13:56] divyamani1 commented on #84
@cliftonmcintosh While trying to use our current location, the following error is observed.
![KeyError at  locate ](https://user-images.githubusercontent.com/19853607/73453814-e5eda900-4394-11ea-926d-c288948db1ca.png)
Are we supposed update any json file to new format?

The function `get_locations_from_coords` (line 286) in `wazimap/geo.py` expects geometry features in following format:
[code]
whi

[2020-01-31 12:49] cliftonmcintosh commented on #84
@divyamani1

I don’t know the answer to your question. Do the [upgrade directions](https://wazimap.readthedocs.io/en/latest/upgrading.html#upgrading-from-1-x-to-2-x) in the documentation provide any help?

If not, you might ask a question as an issue in wazimap.

[2020-02-08 19:52] cliftonmcintosh opened #108 "Make link to 2011 server https"
The homepage link to 2011.nepalmap.org should be for https, not http.

[2020-02-08 19:53] cliftonmcintosh opened #109 "Add 2011 server information to about page"
@pratimakandel added 2011 server information to the main page. I believe about page should also be updated.

[2020-02-11 13:26] suvash commented on #88
I just remembered this. I'm def. a bit more free now. How do we go about this ? If you've already done parts of it, or what you had in mind ?

[2020-02-13 01:49] cliftonmcintosh commented on #88
@suvash

Thank you. No one has done any parts of this.

[2020-02-19 07:53] divyamani1 commented on #84
With the latest update, most of the problems with Wazimap 2 seems to be fixed and everything is looking good locally. I'm looking into fixing issues with docker. For some reason, I couldn't connect with the postgresql container from nepal map container (port 5432 wasn't open to nepalmap)  but I got around it using a quick fix for now (which might not be necessary, I'll look into it in detail). I'l

[2020-05-26 01:22] nikeshbalami opened #111 "Update the Shapefile with a new political and administrative map of Nepal"
Nepal government recently launched the new political and administrative map. It would be great to update the NepalMap with the new Shapefile as the work progress.

Download link: http://www.dos.gov.np/download/news-events/shapefilegis-data-for-political-and-administrative-map-of-nepal

[2020-05-27 19:08] suvash commented on #88
@cliftonmcintosh I spend some time today upgrading caddy to v2. A couple of changes and it worked fine. But, it seems like the django app is broken in master.
`make start` on APP_ENV=dev (on dev branch) doesn't seem to start the app properly, lots of failures in db bootstrap, and the web app fails on web requests. Is anybody working on this, or any pointers  ? or, should I work from another branch

[2020-05-27 20:34] suvash commented on #88
So, I finally was able to make Caddy v2 work on a branch based of master, more details here https://github.com/Code4Nepal/nepalmap_federal/pull/112

We can continue the conv. there. Please feel free to close this issue.

[2020-07-05 10:19] rawalraj022 opened #114 "Coding"

[2020-07-05 19:07] ShashiAdhikari commented on #114
@rawalraj022 Is there any issue? Please provide a description.

[2020-07-05 19:07] #114 closed, assigned to nobody

[2020-11-27 03:38] Yandari commented on #104
Could we have a dropdown box for the title across the site?
 So we can zoom in and out of the map while the title box is tucked in.
Can we also add a full screen button on the map?

[2020-11-27 03:57] Yandari opened #115 "Could we implement collapsible title tabs ?"
about title slots and user experience

Could we have a dropdown box for the title tab across the site?
So we can zoom in and out of the map while the title box is tucked in.

Can we also add a full screen button on the map?

[2021-01-14 06:44] ishandongol opened #116 "Blogs Endpoint for Nepalmap Blog"
Create CRUD APIs for Blog Module.

[2021-03-09 15:53] ravinepal opened #117 "same data in some rural and municipalities"
We got this in the email:

The data of east Nawalparasi, there is same data of Kawasoti Municipality, Madhyabindu Municipality and Hupsekot RuralMunicipalities. I have not check of other places. Same case in Parbat district. Please correct it.

Thank you
With Regards
 Robin Bhandari

[2021-03-10 01:33] #116 closed, assigned to nobody

[2022-06-25 15:14] divyamani1 commented on #84
@cliftonmcintosh I forgot about this. Is anyone working on this? I have upgraded Nepalmap to Python 3.7 and Wazimap 2.1.2 (along with a few dependency upgrades). I have tested the docker builds (dev/stage/prod) and everything seems to be working fine (except for the "use my location" feature, but it doesn't seem to work on the current nepalmap.org as well). Should I submit a PR? Are there more tes

[2022-07-08 14:28] cliftonmcintosh commented on #84
@divyamani1

Hello. I am no longer active on this project, and I am not sure what the appropriate steps are for proceeding. There may be someone in C4N who is working on the project and can provide advice. You might try the C4N Slack for getting advice.

[2022-07-09 15:41] pratimakandel commented on #84
@divyamani1 great, thanks for working on this.  yes, can you submit a PR for this issue? I can review it. Since the "use my location" feature is not working on the current nepalmap.org too, we can create a diff issue for that and track/work on it.  Not sure, if you've already joined C4N slack channel.. if not you can find the link [here](https://codefornepal.org/joinus/). We can further discuss re

[2022-07-19 16:34] #84 closed, assigned to nobody